---
import { Image } from 'astro:assets';
---

<header class="bg-inherit">
    <nav class="bg-inherit fixed top-6 ring ring-cyan-950 flex inset-x-6 p-4 justify-between">
        <a href="/" class="flex items-center gap-2">
            <Image src="/movie-camera.png" width="50" height="50" alt="Movie Camera Icon" />
            <span class="font-bold text-3xl">2025 King's Cross Cinema Schedule</span>
        </a>
        <ul class="space-x-4"><li><a href="#">lala</a></li></ul>
    </nav>
</header>
