---
import { Image } from 'astro:assets';
---

<header class="bg-inherit">
    <nav>
        <a href="/" class="flex items-center gap-2">
            <Image src="/movie-camera.png" width="80" height="80" alt="Movie Camera Icon" />
            <div class="flex flex-col">
                <span class="font-bold text-2xl">King's Cross Cinema Schedule</span>
                <span class="text-xl">2025 Everyman on the Canal</span>
            </div>
        </a>
    </nav>
</header>
