---
import "../styles/global.css";
import Wrapper from "../components/Wrapper.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/movie-camera.png" />
        <meta name="generator" content={Astro.generator} />
        <title>2025 Cinema Schedule</title>
        <meta
            name="description"
            content="A simple schedule for 2025 King's Cross Cinema"
        />
    </head>
    <body>
        <Wrapper>
            <slot />
            <footer class="flex flex-col text-sm">
                This is an unofficial website. Not affiliated with Everyman on
                the Canal.
                <span
                    >Movie schedules are subject to change. Please check the <a
                        href="https://www.everymancinema.com/everyman-on-the-canal-in-kings-cross/"
                        class="underline underline-offset-2 text-blue-600"
                        target="_blank">official source.</a
                    ></span
                >
                <span class="mt-4"
                    >Made by
                    <a
                        href="https://lukeberrypi.com"
                        target="_blank"
                        class="underline underline-offset-2 text-blue-600"
                        >Luke Berry</a
                    >. Code available <a
                        href="https://github.com/LukeberryPi/kings-cross-cinema-website"
                        target="_blank"
                        class="underline underline-offset-2 text-blue-600"
                        >here</a
                    >. API available <a
                        href="https://github.com/LukeberryPi/kings-cross-cinema-api"
                        target="_blank"
                        class="underline underline-offset-2 text-blue-600"
                        >here</a
                    >.</span
                >
            </footer>
        </Wrapper>
    </body>
</html>
